:host {
	display: block;
	position: relative;
	--mdc-dialog-subhead-size: 1.2rem;
	--mdc-dialog-subhead-line-height: 1.2;
	padding: 4rem 0;
	max-width: 800px;
	margin: 0 auto;
}

.title-bar {
	display: flex;
	gap: 1rem;
	justify-content: space-between;
	align-items: center;

	.title {
		font-size: 1.2rem;
		line-height: 1.2;
		margin: 0;
	}
}

.form-row {
	display: flex;
	gap: 1rem;
	padding: 0.5rem 0;

	mat-form-field {
		flex: 1;
	}

	&.full-width {
		flex-direction: column;

		mat-form-field {
			width: 100%;
		}
	}
}

.top-wrapper,
.bottom-wrapper {
	background: var(--mat-app-background-color);
	position: fixed;
	max-width: 800px;
	margin: 0 auto;
	padding: 1rem;
	z-index: 1;
	left: 0;
	right: 0;
}

.top-wrapper {
	top: 0;
}

.bottom-wrapper {
	bottom: 0;
}
