:host {
	--mdc-dialog-subhead-size: 1.2rem;
	--mdc-dialog-subhead-line-height: 1.2;
	--mdc-fab-small-container-color: var(--mat-sys-surface-variant);
	--mat-fab-small-foreground-color: var(--mat-sys-on-surface);
	display: block;
	position: relative;
	padding: 4rem 0;
	max-width: 800px;
	margin: 0 auto;
}

.title-bar {
	display: flex;
	gap: 1rem;
	justify-content: space-between;
	align-items: center;

	.title {
		font-size: 1.2rem;
		line-height: 1.2;
		margin: 0;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: normal;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3;
	}
}

.form-row {
	display: flex;
	gap: 1rem;

	.mat-mdc-form-field {
		flex: 1;
	}
}

.top-wrapper,
.bottom-wrapper {
	background: var(--mat-app-background-color);
	position: fixed;
	max-width: 800px;
	max-height: 3rem;
	margin: 0 auto;
	padding: 1rem;
	z-index: 1;
	left: 0;
	right: 0;
}

.top-wrapper {
	border-bottom: 1px solid var(--mat-sys-surface-bright);
	top: 0;
}

.bottom-wrapper {
	border-top: 1px solid var(--mat-sys-surface-bright);
	bottom: 0;
}
