:host {
	display: block;
	position: relative;
	--mdc-dialog-subhead-size: 1.2rem;
	--mdc-dialog-subhead-line-height: 1.2;
}

.title {
	font-size: 1.2rem;
	line-height: 1.2;
	margin: 0;
}

.form-row {
	display: flex;
	gap: 1rem;
	padding: 0.5rem 0;

	mat-form-field {
		flex: 1;
	}
}

.buttons-wrapper {
	background: var(--mat-app-background-color);
	position: sticky;
	bottom: 0;
	padding: 1rem;
}
