@let _food = food();
@let _isSubmitting = isSubmitting();
@let _serving = serving();

<div class="add-serving-container">
	<div class="top-wrapper title-bar">
		<h4 class="title">{{ _food?.name }}</h4>
		<button mat-icon-button (click)="closeOverlay()">
			<mat-icon>close</mat-icon>
		</button>
	</div>

	<form [formGroup]="form" class="food-form ml-2 mr-2 mt-3">
		<div class="form-row">
			<mat-form-field>
				<mat-label>Amount</mat-label>
				<input #amount matInput (click)="amount.select()" type="number" formControlName="amount" step="0.01" min="0.01" />
				@if (form.get("amount")?.invalid && form.get("amount")?.touched) {
					<mat-error>Please enter a valid amount</mat-error>
				}
			</mat-form-field>

			<mat-form-field>
				<mat-label>Serving Size</mat-label>
				<mat-select formControlName="servingSize" (selectionChange)="onServingSizeChange($event.value)">
					@for (size of servingSizes; track size.name) {
						<mat-option [value]="size">
							{{ size.name }} {{ size.name !== "g" && size.gramWeight ? "(" + size.gramWeight + "g)" : "" }}
						</mat-option>
					}
				</mat-select>
			</mat-form-field>
		</div>

		<div class="form-row">
			<mat-form-field (click)="picker.open()">
				<mat-label>Date</mat-label>
				<input matInput [matDatepicker]="picker" formControlName="date" />
				<mat-datepicker-toggle matIconSuffix [for]="picker" />
				<mat-datepicker #picker />
				@if (form.get("date")?.invalid && form.get("date")?.touched) {
					<mat-error>Please select a valid date</mat-error>
				}
			</mat-form-field>

			<mat-form-field>
				<mat-label>Time</mat-label>
				<input matInput mask="Hh:m0" formControlName="time" placeholder="HH:MM" />
				@if (form.get("time")?.invalid && form.get("time")?.touched) {
					<mat-error>Please enter a valid time (HH:MM)</mat-error>
				}
			</mat-form-field>
		</div>

		<div class="form-row">
			<mat-form-field>
				<mat-label>Category</mat-label>
				<mat-select formControlName="category">
					@for (category of servingCategories; track category) {
						<mat-option [value]="category">{{ category }}</mat-option>
					}
				</mat-select>
			</mat-form-field>
			<button mat-mini-fab class="mt-1" (click)="isOpenComment.set(!isOpenComment())">
				<mat-icon>{{ isOpenComment() ? "expand_less" : "edit_note" }}</mat-icon>
			</button>
			<button mat-mini-fab class="mt-1"><mat-icon>flag</mat-icon></button>
		</div>

		@if (isOpenComment()) {
			<div class="form-row comment-wrapper">
				<mat-form-field>
					<mat-label>Comment</mat-label>
					<textarea matInput formControlName="comment" placeholder="Add a private note..." rows="1" maxlength="100"></textarea>
				</mat-form-field>
			</div>
		}
	</form>

	@if (_serving?.isEditable === false) {
		<div class="d-flex italic ai-c jc-c gap-1 pl-2 pr-2">
			<mat-icon>lock</mat-icon>
			<span>Serving is not editable.</span>
		</div>
	} @else if (_serving?.isFinalized) {
		<div class="d-flex italic ai-c jc-c gap-1 pl-2 pr-2">
			<mat-icon>lock</mat-icon>
			<span>Serving size is not editable.</span>
		</div>
	}

	@if (_serving?.isCalorieVision) {
		<div class="d-flex italic ai-c jc-c gap-1 pl-2 pr-2">
			<mat-icon color="tertiary">visibility</mat-icon>
			<span>Generated with Calorie Vision</span>
		</div>
	}

	<div class="food-details d-flex flex-column gap-1 m-2">
		@if (_food && _food.nutritions.length > 0) {
			<app-nutrition-label [nutritions]="nutritions()" [per]="per" />

			@if (dietaryFlags) {
				<app-dietary-flags [flags]="dietaryFlags" />
			}

			<app-nutrition-list [nutritions]="nutritions()" />
		}

		@if (productBarcode) {
			<button mat-button (click)="openProductPage()">Product details</button>
		}
	</div>

	<div class="bottom-wrapper">
		@if (_serving && _serving.id) {
			<div class="d-flex gap-2">
				<button mat-icon-button (click)="onDeleteServing(_serving)"><mat-icon>delete</mat-icon></button>
				<button mat-icon-button (click)="onCopyServing(_serving)"><mat-icon>content_copy</mat-icon></button>
				<button mat-flat-button class="w-100" [disabled]="form.invalid || form.disabled || _isSubmitting" (click)="onSaveServing()">
					@if (_isSubmitting) {
						<mat-spinner diameter="20" />
					} @else {
						Save
					}
				</button>
			</div>
		} @else {
			<button mat-flat-button class="flex-grow w-100" [disabled]="form.invalid || _isSubmitting" (click)="onAddServing()">
				@if (_isSubmitting) {
					<mat-spinner diameter="20" />
				} @else {
					Add to {{ form.get("category")?.value || "diary" }}
				}
			</button>
		}
	</div>
</div>
