@let _food = food();
@let _isSubmitting = isSubmitting();
@let _serving = serving();

<div class="add-serving-container">
	<div class="top-wrapper title-bar">
		<h4 class="title">{{ _food?.name }}</h4>
		<button mat-icon-button (click)="closeOverlay()">
			<mat-icon>close</mat-icon>
		</button>
	</div>

	<form [formGroup]="form" class="food-form m-2">
		<div class="form-row">
			<mat-form-field>
				<mat-label>Amount</mat-label>
				<input #amount matInput (click)="amount.select()" type="number" formControlName="amount" step="0.01" min="0.01" />
				@if (form.get("amount")?.invalid && form.get("amount")?.touched) {
					<mat-error>Please enter a valid amount</mat-error>
				}
			</mat-form-field>

			<mat-form-field>
				<mat-label>Serving Size</mat-label>
				<mat-select formControlName="servingSize">
					@for (size of servingSizes; track size.name) {
						<mat-option [value]="size">
							{{ size.name }} {{ size.name !== "g" && size.gramWeight ? "(" + size.gramWeight + "g)" : "" }}
						</mat-option>
					}
				</mat-select>
			</mat-form-field>
		</div>

		<div class="form-row">
			<mat-form-field>
				<mat-label>Time</mat-label>
				<input matInput formControlName="time" placeholder="HH:MM" />
				@if (form.get("time")?.invalid && form.get("time")?.touched) {
					<mat-error>Please enter a valid time (HH:MM)</mat-error>
				}
			</mat-form-field>

			<mat-form-field>
				<mat-label>Category</mat-label>
				<mat-select formControlName="category">
					@for (category of servingCategories; track category) {
						<mat-option [value]="category">{{ category }}</mat-option>
					}
				</mat-select>
			</mat-form-field>
		</div>
	</form>

	@if (_serving?.isEditable === false) {
		<div class="text-center mb-2">
			<span>This food is not editable.</span>
		</div>
	}

	<div class="food-details d-flex flex-column gap-1 m-2">
		@if (_food && _food.nutritions.length > 0) {
			<app-nutrition-label [nutritions]="nutritions()" />

			@if (dietaryFlags.length > 0) {
				<div class="d-flex jc-c">
					<mat-chip-set>
						@for (flag of dietaryFlags; track flag) {
							<mat-chip>{{ flag }}</mat-chip>
						}
					</mat-chip-set>
				</div>
			}

			<app-nutrition-list [nutritions]="nutritions()" />
		}
	</div>

	<div class="bottom-wrapper">
		@if (_serving && _serving.id) {
			<div class="d-flex gap-2">
				<button mat-icon-button (click)="onDeleteServing(_serving)"><mat-icon>delete</mat-icon></button>
				<button mat-icon-button (click)="onCopyServing(_serving)"><mat-icon>content_copy</mat-icon></button>
				<button mat-flat-button class="w-100" [disabled]="form.invalid || form.disabled || _isSubmitting" (click)="onSaveServing()">
					Save
				</button>
			</div>
		} @else {
			<button mat-flat-button class="flex-grow w-100" [disabled]="form.invalid || _isSubmitting" (click)="onAddServing()">
				@if (_isSubmitting) {
					Adding...
				} @else {
					Add to {{ form.get("category")?.value || "diary" }}
				}
			</button>
		}
	</div>
</div>
