:host {
	--mat-expansion-header-text-weight: 400;

	display: flex;
	flex-direction: column;
	gap: 8px;
}

.status-message {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1rem;

	mat-icon {
		flex-shrink: 0;
	}
}

.result-item {
	background: var(--mat-sys-surface-container);
	display: flex;
	gap: 1rem;
	padding: 0.5rem 1rem;
	border-radius: 6px;
	justify-content: space-between;
	align-items: center;
	min-height: 48px;

	&.error {
		color: var(--mat-sys-error);
	}

	.created-date {
		flex-shrink: 0;
	}
}
