:host {
	display: block;
	width: 100%;

	.description {
		text-align: center;

		.title {
			font-size: 1.2rem;
			line-height: 1.2;
			font-weight: 600;
			margin: 0;
		}

		.subtitle {
			font-size: 0.9rem;
			line-height: 2;
			font-weight: 400;
			margin: 0;
		}
	}
}

.scrolling-container {
	height: 220px;
	overflow: hidden;
	position: relative;
	margin: 1rem 0;
	border-radius: 12px;
}

.shadow-overlay {
	position: absolute;
	inset: 0;
	pointer-events: none;
	background:
		linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent) bottom,
		linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent) top;
	background-repeat: no-repeat;
	background-size: 100% 20px;
	mask-image: linear-gradient(to right, transparent 0%, black 20%, black 80%, transparent 100%);
	-webkit-mask-image: linear-gradient(to right, transparent 0%, black 20%, black 80%, transparent 100%);
	mask-mode: alpha;
}

.food-item {
	display: flex;
	justify-content: space-between;
	padding: 0.75rem 1rem;
	background-color: var(--mat-sys-background);
	border-radius: 12px;
	width: calc(100% - 2rem);
	position: absolute;
	left: 0;
	will-change: transform;

	.food-name {
		font-weight: 500;
		color: var(--mat-sys-on-surface);
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		max-width: 70%;
	}

	.food-calories {
		font-weight: 600;
		color: var(--tertiary-color);
		white-space: nowrap;
	}
}
