:host {
	display: flex;
	flex-direction: column;
	height: 100vh;
	max-width: 500px;
	margin: 0 auto;

	em {
		color: var(--tertiary-color);
	}

	.content-wrapper {
		align-content: center;
		flex-grow: 1;
		padding: 1rem;
	}
}
