@let _currentStep = currentStep();
@if (_currentStep === "email") {
	<div class="d-flex flex-column p-2">
		<h4>Forgot password?</h4>
		<mat-form-field class="w-100">
			<mat-label>Email</mat-label>
			<input matInput required type="email" [formControl]="emailControl" />

			@if (emailControl.errors) {
				<mat-error>Invalid e-mail address</mat-error>
			}
		</mat-form-field>
		<button mat-flat-button class="mt-2" (click)="onResetClick()">Reset password</button>
		<a mat-button class="mt-2" routerLink="/login">Back to login</a>
	</div>
} @else if (_currentStep === "email-sent") {
	<div class="d-flex flex-column jc-c p-2">
		<span>
			Password reset link sent to <em>{{ passwordResetEmail() }}</em>
		</span>
	</div>
} @else if (_currentStep === "new-password") {
	<div class="d-flex flex-column p-2">
		<h4>Enter new password</h4>
		<span class="mb-2">
			Changing password for <em>{{ passwordResetEmail() }}</em>
		</span>

		<form [formGroup]="newPasswordFormGroup" (ngSubmit)="onChangePasswordClick()">
			<mat-form-field class="w-100 mb-2">
				<mat-label>Password</mat-label>
				<input matInput required [type]="showPassword() ? 'text' : 'password'" formControlName="password" />
				<mat-icon matSuffix (click)="showPassword.set(!showPassword())" [attr.aria-label]="'Toggle password visibility'">
					{{ showPassword() ? "visibility" : "visibility_off" }}
				</mat-icon>

				@if (newPasswordFormGroup.get("passowrd")?.errors) {
					<mat-error>Invalid new password </mat-error>
				}
			</mat-form-field>
			<mat-form-field class="w-100 mb-2">
				<mat-label>Confirm password</mat-label>
				<input matInput required [type]="showPassword() ? 'text' : 'password'" formControlName="confirmPassword" />
				<mat-icon matSuffix (click)="showPassword.set(!showPassword())" [attr.aria-label]="'Toggle password visibility'">
					{{ showPassword() ? "visibility" : "visibility_off" }}
				</mat-icon>

				@if (newPasswordFormGroup.get("confirmPassword")?.errors) {
					<mat-error>Invalid new password</mat-error>
				}
			</mat-form-field>
			<button mat-flat-button type="submit" class="w-100">Change password</button>
		</form>
	</div>
} @else if (_currentStep === "done") {
	<div class="d-flex flex-column ai-c gap-2 p-2">
		<span class="mb-2">Your password has been changed.</span>
		<button mat-flat-button routerLink="/login" class="w-100">Log in</button>
	</div>
} @else {
	<div class="d-flex flex-column ai-c gap-2 p-2">
		<span class="mb-2">{{ errorMessage }}</span>
		<button mat-stroked-button routerLink="/forgot-password">Try again</button>
	</div>
}
