rules_version = '2';
service cloud.firestore {
	match /databases/{database}/documents {
		match /users/{userId} {
			allow read, write: if request.auth != null && request.auth.uid == userId;

			match /{document=**} {
				allow read, write: if request.auth != null && request.auth.uid == userId;
			}
		}

		match /foods/{foodId} {
			allow read: if request.auth != null &&
			resource.data.isPublic == true || resource.data.ownerUid == request.auth.uid;

			allow list: if request.auth != null &&
			(!('isPublic' in resource.data) || resource.data.isPublic == true || resource.data.ownerUid == request.auth.uid);

			allow create: if request.auth != null &&
			request.resource.data.isPublic == false &&
			request.resource.data.ownerUid == request.auth.uid &&
			request.resource.data.source ==  "User";

			allow update: if request.auth != null &&
			request.resource.data.isPublic == resource.data.isPublic &&
			request.resource.data.ownerUid == resource.data.ownerUid &&
			request.resource.data.source ==  "User";
		}

		match /account-deletions/{requestId} {
			allow create, update: if request.auth != null && request.resource.data.uid == request.auth.uid;
		}

		match /reports/{reportId} {
			allow create: if request.auth != null && request.resource.data.createdBy == request.auth.uid;
		}

		match /{document=**} {
			allow read, write: if isAdmin();
		}
	}
}

function isAdmin() {
	return request.auth != null
		&& ('admin' in request.auth.token)
		&& request.auth.token.admin == true;
}
