.empty-state {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;
	border-radius: 8px;

	p {
		font-size: 18px;
	}
}

.loading-container,
.load-more-container {
	display: flex;
	justify-content: center;
	padding: 24px 0;
}
