:host {
	--mat-expansion-header-text-weight: 400;
}

.file-label {
	display: flex;
	align-items: center;
	cursor: pointer;
	gap: 8px;
}

.upload-form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.image-preview {
	text-align: center;
	position: relative;

	.discard-button {
		background-color: rgba(0, 0, 0, 0.4);
		position: absolute;
		right: 0.5rem;
		top: 0.5rem;
	}

	img {
		max-width: 100%;
		max-height: 300px;
		border-radius: 4px;
	}
}

.image-description {
	width: 100%;
	margin-bottom: 16px;
}

.upload-progress {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
	margin-bottom: 16px;
}

.loader-wrapper {
	height: 100vmin;
}

mat-progress-bar {
	width: 100%;
}
