@let _isLoading = isLoading();
@if (!_isLoading) {
	@let _foodId = foodId();
	@let _analysisResult = analysisResult();
	<div class="add-food-container">
		@if (_foodId && _analysisResult?.status === "prefilled") {
			<app-page-title title="Create new food" class="mb-2" />
			<app-edit-food-form [food]="analysisResult()" />
		} @else if (_analysisResult?.status === "invalid") {
			<div class="error-message">
				<mat-icon>error</mat-icon>
				<p>We were not albe to extract data from the uploaded images. Please try again.</p>
				<button mat-flat-button color="primary" (click)="onTryAgainClick()">Try again</button>
			</div>
		} @else {
			<app-label-analyzer [foodId]="_foodId" (analysisComplete)="onAnalyzisComplete($event)" />
		}
	</div>
} @else {
	<div class="loading-container">
		<mat-spinner [diameter]="64" />
		<p>Initializing document...</p>
	</div>
}
