@let _servings = servings();
@let _caloriesTotal = caloriesTotal();

<mat-expansion-panel [expanded]="_servings.length > 0">
	<mat-expansion-panel-header>
		<mat-panel-title>
			<button mat-icon-button (click)="onAddClick($event)" [matMenuTriggerFor]="menu"><mat-icon>add</mat-icon></button>
			<span class="panel-title">{{ groupName() }} ({{ _servings.length }}) </span>
			<span class="total-calories bold">{{ _caloriesTotal ? (_caloriesTotal | number: "1.0-0") + " kcal" : "" }}</span>
		</mat-panel-title>
	</mat-expansion-panel-header>

	<div class="category-servings-list">
		@for (serving of _servings; track serving.id) {
			<div matRipple class="serving-item" (click)="onServingClick(serving)">
				<div class="food-info w-100 d-flex ai-c">
					<div class="food-name d-flex ai-c">
						{{ serving.food.name || "Unknown food" }}
					</div>
					@if (getCaloriesFor(serving); as calories) {
						<div class="food-calories">{{ calories | number: "1.0-0" }} kcal</div>
					} @else {
						<div class="food-calories">N/A</div>
					}
				</div>
			</div>
		}
	</div>
</mat-expansion-panel>

<mat-menu #menu="matMenu">
	<button mat-menu-item routerLink="/search-food" [queryParams]="{ focus: true, group: groupName() }">
		<mat-icon>add</mat-icon>
		<span>Add new entry</span>
	</button>
	<button mat-menu-item routerLink="/calorie-vision">
		<mat-icon>visibility</mat-icon>
		<span>Calorie vision</span>
	</button>
	<button mat-menu-item routerLink="/scan">
		<mat-icon>qr_code_scanner</mat-icon>
		<span>Scan barcode</span>
	</button>
</mat-menu>
