<div class="add-menu-container">
	<div matRipple class="menu-item" (click)="navigateTo('/scan')">
		<a class="d-flex ai-c gap-2 pl-4">
			<mat-icon svgIcon="barcode-solid"></mat-icon>
			<span>Scan barcode</span>
		</a>
	</div>

	<div matRipple class="menu-item" (click)="navigateTo('/calorie-vision')">
		<a class="d-flex ai-c gap-2 pl-4">
			<mat-icon>visibility</mat-icon>
			<span>Calorie vision</span>
		</a>
	</div>

	<div matRipple class="menu-item" (click)="navigateTo('/search-food', { focus: true })">
		<a class="d-flex ai-c gap-2 pl-4">
			<mat-icon>add</mat-icon>
			<span>Add new entry</span>
		</a>
	</div>
</div>
