<div class="add-menu-container">
	<div matRipple class="menu-item" (click)="navigateTo('/calorie-vision')">
		<mat-icon>visibility</mat-icon>
		<span class="label">Calorie vision</span>
	</div>

	<div matRipple class="menu-item" (click)="navigateTo('/scan')">
		<mat-icon svgIcon="barcode-scanner"></mat-icon>
		<span class="label">Scan barcode</span>
	</div>

	<div matRipple class="menu-item" (click)="navigateTo('/foods', { focus: true })">
		<mat-icon>add_circle_outline</mat-icon>
		<span class="label">New entry</span>
	</div>
</div>
