@use "../../ai-highlight" as *;

:host {
	max-width: var(--app-max-width);
	display: block;
	transform: translateY(2rem);
	margin: 0 auto;
}

.title-bar {
	font-family: Montserrat;

	h3 {
		font-weight: 900;
		margin: 0;
	}

	.subtitle {
		font-weight: 400;
	}
}

.provider-buttons {
	--mdc-filled-button-label-text-color: #e6e6e6;

	.btn-google {
		--mdc-filled-button-container-color: #db4437;
	}

	.btn-github {
		--mdc-filled-button-container-color: #2b3137;
	}

	.btn-facebook {
		--mdc-filled-button-container-color: #1877f2;
	}
}

.divider {
	&::before,
	&::after {
		content: "";
		flex: 1;
		border-bottom: 1px solid #666;
	}

	span {
		padding: 0 10px;
		color: #666;
	}
}
