.analytics-card {
	overflow: hidden;
	height: 300px;

	.description {
		text-align: center;

		.title {
			font-size: 1.2rem;
			line-height: 1.2;
			font-weight: 600;
			margin: 0;
		}

		.subtitle {
			font-size: 0.9rem;
			line-height: 2;
			font-weight: 400;
			margin: 0;
		}
	}

	.video-bg {
		position: absolute;
		top: 50%;
		left: 50%;
		width: auto;
		height: 100%;
		min-width: 100%;
		min-height: 100%;
		transform: translate(-50%, -50%);
		object-fit: cover;
		z-index: 0;
		filter: grayscale(1) opacity(0.5);
		pointer-events: none;
	}

	.video-overlay {
		position: absolute;
		inset: 0;
		z-index: 1;
		pointer-events: none;
		background-color: var(--mat-sys-surface-container);

		mask-mode: alpha;
		mask-image: radial-gradient(
			circle at var(--maskX) var(--maskY),
			transparent 0%,
			transparent calc(100% - 50px),
			rgba(29, 32, 34, 0.75),
			var(--mat-sys-surface-container) 100%
		);

		-webkit-mask-mode: alpha;
		-webkit-mask-image: radial-gradient(
			circle 100px at var(--maskX) var(--maskY),
			transparent 0%,
			transparent calc(100% - 50px),
			rgba(29, 32, 34, 0.75),
			var(--mat-sys-surface-container) 100%
		);
	}
}

.bulb-container {
	height: 100%;
	width: 100%;
	border-radius: 12px;
	position: absolute;
	overflow: hidden;

	.bulb {
		position: absolute;
		width: 36px;
		height: 36px;
		font-size: 3rem;
		display: flex;
		align-items: center;
		justify-content: center;
		touch-action: none;
		will-change: transform;
		filter: drop-shadow(0 0 20px rgba(255, 187, 0, 1)) drop-shadow(0 0 40px rgb(255, 217, 0));

		cursor: grab;

		&:focus,
		&:active {
			outline: none;
		}

		&.grabbing {
			cursor: grabbing;
		}
	}
}
