.analytics-card {
	overflow: hidden;
	height: 300px;

	.description {
		text-align: center;

		.title {
			font-size: 1.2rem;
			line-height: 1.2;
			font-weight: 600;
			margin: 0;
		}

		.subtitle {
			font-size: 0.9rem;
			line-height: 2;
			font-weight: 400;
			margin: 0;
		}
	}
}

.bulb-container {
	height: 100%;
	width: 100%;
	position: absolute;
}

.bulb {
	position: absolute;
	width: 36px;
	height: 36px;
	font-size: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	touch-action: none;
	will-change: transform;
	filter: drop-shadow(0 0 20px rgb(255, 187, 0)) drop-shadow(0 0 50px rgb(255, 217, 0));

	cursor: grab;

	&:focus,
	&:active {
		outline: none;
	}

	&.grabbing {
		cursor: grabbing;
	}
}
