:host {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	.user-creation-progress {
		padding: 1rem;
		gap: 1rem;
		align-items: center;
	}

	.servings-section {
		width: 100%;
	}

	.request-buttons {
		display: flex;
		flex-direction: row;
		gap: 1rem;

		button {
			flex-grow: 1;
		}
	}
}
