:host {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	.verify-email-bar {
		--mdc-icon-button-icon-color: var(--mat-sys-on-primary-fixed);
		background-color: var(--mat-sys-error);
		color: var(--mat-sys-on-primary-fixed);
		align-items: center;
		border-radius: 8px;
		font-weight: 600;

		p {
			margin: 1rem;
		}
	}

	.servings-section {
		width: 100%;
	}
}
