<app-daily-targets-widget [actualNutritions]="totalNutrition()" />

@if (!isEmailVerified()) {
	<div matRipple class="verify-email-bar w-100 d-flex jc-c">
		<p>Please verify your e-mail address.</p>
	</div>
}

<app-date-selector (dateChanged)="onSelectedDateChanged($event)" />

@if (isLoading()) {
	<div class="w-100 d-flex gap-2 jc-c mt-5">
		<mat-spinner diameter="40"></mat-spinner>
	</div>
} @else {
	<div class="servings-section">
		<app-servings-list [servings]="servings() || []" [date]="selectedDate()" />
	</div>
}
