<mat-card [appearance]="'outlined'" class="pt-2 pl-2 pr-2 pb-0">
	@let _targets = targets();

	@if (_targets?.status === "in-progress") {
		<div class="d-flex jc-c ai-c mb-2 gap-2">
			<mat-spinner diameter="20" />
			<span>Estimating your daily targets...</span>
		</div>
	} @else if (_targets?.status === "error") {
		<div class="text-center">Couldn't estimate your nutrition targets. Please update your health profile.</div>
		<button mat-flat-button class="mt-2 mb-2" [routerLink]="['/profile/health-profile']">Update profile</button>
	} @else if (_targets?.status === "ready") {
		@for (target of _targets?.nutritions; track target.nutrition.type) {
			@if ($index === 6) {
				<button mat-button class="mt-2 mb-2" (click)="showExplanation()">Calculation factors</button>
			}
			<div class="d-flex jc-sb">
				<span>{{ target.nutrition.type }}</span>
				<span class="d-flex gap-1 ai-c amounts">
					{{ target.actualAmount | number: "1.0-0" }} / {{ target.targetAmount | number: "1.0-0" }} {{ target.targetUnit }}
					@if (target.percentage >= 100) {
						<mat-icon [inline]="true">check</mat-icon>
					}
				</span>
			</div>
			<mat-progress-bar [value]="target.percentage" />
		}

		@if (_targets && _targets.nutritions.length > 0) {
			<div class="d-flex flex-column ai-c">
				<button mat-icon-button (click)="showAllNutritions.set(!showAllNutritions())">
					<mat-icon>{{ showAllNutritions() ? "expand_less" : "expand_more" }}</mat-icon>
				</button>
			</div>
		}
	} @else {
		<div class="text-center">Complete your health profile to see personalized daily targets.</div>
		<button mat-flat-button class="mt-2 mb-2" [routerLink]="['/profile/health-profile']">Complete profile</button>
	}
</mat-card>
