.nutrition-panel {
	::ng-deep .mat-expansion-panel-body {
		padding: 0;
	}

	.nutrition-list {
		display: flex;
		flex-direction: column;
	}

	.nutrition-item {
		display: flex;
		justify-content: space-between;
		padding: 8px;

		&:nth-of-type(odd) {
			background-color: var(--mat-sys-inverse-on-surface);
		}
	}
}
