<mat-expansion-panel class="connect-panel">
	<mat-expansion-panel-header>
		<mat-panel-title class="connect-panel-title">
			<mat-icon [svgIcon]="'telegram'" />
			<span>Telegram</span>
		</mat-panel-title>
	</mat-expansion-panel-header>

	@let _telegramUsername = telegramUsername();
	@if (_telegramUsername) {
		<div class="connected-wrapper">
			<strong>Connected</strong> ({{ "@" + _telegramUsername }})
			<p>Your Telegram account is already connected.</p>
		</div>
	} @else {
		<div>
			<strong>Connect Telegram</strong>
			<p>Get notified when your analysis is ready.</p>
		</div>

		<button mat-flat-button class="w-100" (click)="onConnectClick()">
			@if (isLoading()) {
				<mat-spinner diameter="20" />
			} @else {
				Connect Telegram
			}
		</button>
	}
</mat-expansion-panel>
