:host {
	display: block;
	--mdc-fab-small-container-color: var(--mat-sys-surface-bright);
	--mat-fab-small-foreground-color: var(--mat-sys-on-surface);

	.title {
		font-size: 1.2rem;
		line-height: 1.2;
		margin: 0;
	}

	.main-page-heading {
		text-align: center;
		font-size: 1.5rem;
		margin: 2rem 0;
	}
}
