<div class="auth-wrapper">
	<div class="buttons d-flex gap-2">
		<button mat-flat-button class="w-100" [routerLink]="['/register']">Create account</button>
		<button mat-stroked-button class="w-100" [routerLink]="['/login']">Log in</button>
	</div>
</div>

<div class="title-wrapper">
	<h1 class="title">Kombuch<span class="ai-highlight">AI</span></h1>
	<h2 class="subtitle">The future of nutrition tracking.</h2>
</div>

<div class="vision-demo-section">
	<app-vision-demo />
</div>

<div class="database-demo-section">
	<app-database-demo />
</div>

@defer {
	<div class="analytics-demo-section">
		<app-analytics-demo />
	</div>
}

@defer {
	<div class="import-demo-section">
		<app-import-demo />
	</div>
}

@defer {
	<div class="servings-demo-section">
		<app-servings-demo />
	</div>
}

@defer {
	@if (isReadyToInstall()) {
		<div class="install-card">
			<img src="assets/app-icons/icon.svg" width="64px" height="64px" alt="logo" />
			<div class="d-flex flex-column flex-grow jc-c ai-c">
				<h4>Unlock the full experience!</h4>

				<button mat-button class="w-100" (click)="installApp()">
					<mat-icon>get_app</mat-icon>
					Install app
				</button>
			</div>
		</div>
	}
}

<app-footer-section />
