@use "../../ai-highlight" as *;

:host {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin: 0 auto;
	max-width: var(--app-max-width);
	padding-top: 5rem;
}

.auth-wrapper {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 9;
	background-color: var(--mat-sys-surface-container);
	border-bottom: 1px solid var(--mat-sys-inverse-on-surface);

	@media screen and (min-width: 800px) {
		border-radius: 0 0 12px 12px;
		border-bottom: none;
		margin: 0 1rem;
	}
}

.title-wrapper {
	text-align: center;
	text-shadow: 3px 5px 10px rgb(8 15 16 / 50%);
}

.title {
	font-weight: 900;
	font-size: 2rem;
	line-height: 2;
	margin: 0;
}

.subtitle {
	font-size: 1rem;
	line-height: 1;
	margin: 0;
}

.vision-demo-section,
.servings-demo-section,
.nutrition-cloud-section,
.analytics-demo-section {
	padding: 0 1rem;
}
