<div class="auth-wrapper d-flex gap-2 p-2">
	<button mat-flat-button class="w-100" [routerLink]="['/register']">Create account</button>
	<button mat-stroked-button class="w-100" [routerLink]="['/login']">Log in</button>
</div>

<div class="title-wrapper">
	<h1 class="title">Kombuch<span class="ai-highlight">AI</span></h1>
	<h2 class="subtitle">The future of nutrition tracking.</h2>
</div>

<div class="vision-demo-section">
	<app-vision-demo />
</div>

<div class="analytics-demo-section">
	<app-analytics-demo />
</div>

<div class="servings-demo-section">
	<app-servings-demo />
</div>

<app-footer-section />
