@use "../../ai-highlight" as *;

:host {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin: 0 auto;
	max-width: var(--app-max-width);
	padding-top: 4.5rem;

	h4 {
		font-size: 1rem;
		line-height: 1;
		margin: 0;
	}
}

.auth-wrapper {
	position: fixed;
	display: flex;
	justify-content: center;
	width: 100vw;
	left: 0;
	right: 0;
	top: 0;
	z-index: 9;

	.buttons {
		max-width: var(--app-max-width);
		background-color: var(--mat-sys-surface-container);
		border-bottom: 1px solid var(--mat-sys-inverse-on-surface);
		box-shadow: 0 0 10px var(--mat-sys-surface);
		padding: 1rem;
		flex-grow: 1;

		@media screen and (min-width: 800px) {
			border-radius: 0 0 12px 12px;
			border-bottom: none;
		}
	}
}

.title-wrapper {
	text-align: center;
	text-shadow: 3px 5px 10px rgb(8 15 16 / 50%);
	margin-top: 2rem;

	.title {
		font-weight: 900;
		font-size: 2rem;
		line-height: 1.5;
		margin: 0;
	}

	.subtitle {
		font-size: 1rem;
		line-height: 1;
		margin: 0;
	}
}

.install-card {
	.title {
		line-height: 2;
		width: 100%;
		text-align: center;
		border-bottom: 1px solid var(--mat-sys-inverse-on-surface);
	}
}

.integration-card,
.install-card {
	display: flex;
	gap: 1rem;
	border: 1px solid var(--mat-sys-inverse-on-surface);
	border-radius: 12px;
	padding: 1rem;
	margin: 0 1rem;

	p {
		font-weight: 600;
		margin: 0;
	}
}

.vision-demo-section,
.database-demo-section,
.servings-demo-section,
.nutrition-cloud-section,
.analytics-demo-section,
.import-demo-section {
	padding: 0 1rem;
}
