<div class="title-row mb-2 d-flex ai-c gap-2">
	<button mat-icon-button class="back-button" (click)="onBackClick()">
		<mat-icon>chevron_left</mat-icon>
	</button>
	<h4 class="title">Health Profile</h4>
</div>
<p class="text-center">Your information powers your personalized nutrition plan.</p>

<mat-divider />

<form [formGroup]="formGroup" (ngSubmit)="onSubmit()" [hidden]="isLoading()">
	<div class="gender-selection d-flex flex-column">
		<label class="form-label mb-2 bold">I'm a ...</label>
		<mat-button-toggle-group class="gender-button-group" formControlName="gender">
			<mat-button-toggle value="male">👨 Man</mat-button-toggle>
			<mat-button-toggle value="female">👩 Woman</mat-button-toggle>
		</mat-button-toggle-group>
	</div>

	<div class="form-row">
		<mat-form-field appearance="outline">
			<mat-label>Height (cm)</mat-label>
			<input matInput type="number" required formControlName="heightCm" placeholder="Enter your height in cm" min="140" max="250" />
			<mat-error>{{ getErrorsFor("heightCm") }}</mat-error>
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>Weight (kg)</mat-label>
			<input matInput type="number" required formControlName="weightKg" placeholder="Enter your weight in kg" min="30" max="300" />
			<mat-error>{{ getErrorsFor("weightKg") }}</mat-error>
		</mat-form-field>
	</div>

	<div class="form-row d-flex">
		<mat-form-field appearance="outline" class="full-width">
			<mat-label>Birth Date</mat-label>
			<input matInput [matDatepicker]="picker" formControlName="birthDate" required />
			<mat-datepicker-toggle matIconSuffix [for]="picker" />
			<mat-datepicker #picker />
			<mat-error>{{ getErrorsFor("birthDate") }}</mat-error>
		</mat-form-field>

		@if (age()) {
			<span class="age-label mt-2">{{ age() }} years old</span>
		}
	</div>

	<mat-form-field appearance="outline" class="full-width">
		<mat-label>Activity Level</mat-label>
		<mat-select formControlName="activityLevel" required>
			@for (level of activityLevels; track level) {
				<mat-option [value]="level.value">
					{{ level.label }}
				</mat-option>
			}
		</mat-select>
		<mat-error>{{ getErrorsFor("activityLevel") }}</mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline" class="full-width">
		<mat-label>Diet Goals</mat-label>
		<mat-chip-grid #dietGoalsChipGrid formControlName="dietGoals">
			@for (goal of dietGoals(); track goal) {
				<mat-chip-row (removed)="removeItem($index, 'dietGoals')">
					{{ goal }}
					<button matChipRemove>
						<mat-icon>cancel</mat-icon>
					</button>
				</mat-chip-row>
			}

			<input
				required
				placeholder="Add goals (e.g., Weight loss, Muscle gain)"
				[matChipInputFor]="dietGoalsChipGrid"
				[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
				(matChipInputTokenEnd)="addItem($event, 'dietGoals')"
			/>
		</mat-chip-grid>
		<mat-hint>Press Enter to add a diet goal</mat-hint>
		<mat-error>{{ getErrorsFor("dietGoals") }}</mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline" class="full-width">
		<mat-label>Dietary Restrictions</mat-label>
		<mat-chip-grid #restrictionsChipGrid formControlName="dietaryRestrictions">
			@for (restriction of dietRestrictions(); track restriction) {
				<mat-chip-row (removed)="removeItem($index, 'dietaryRestrictions')">
					{{ restriction }}
					<button matChipRemove>
						<mat-icon>cancel</mat-icon>
					</button>
				</mat-chip-row>
			}
			<input
				placeholder="Add restriction (e.g., Vegetarian, Gluten-free)"
				[matChipInputFor]="restrictionsChipGrid"
				[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
				(matChipInputTokenEnd)="addItem($event, 'dietaryRestrictions')"
			/>
		</mat-chip-grid>
		<mat-hint>(Optional) Press Enter to add a dietary restriction</mat-hint>
		<mat-error>{{ getErrorsFor("dietaryRestrictions") }}</mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline" class="full-width">
		<mat-label>Health Conditions</mat-label>
		<mat-chip-grid #conditionsChipGrid formControlName="healthConditions">
			@for (condition of healthConditions(); track condition) {
				<mat-chip-row (removed)="removeItem($index, 'healthConditions')">
					{{ condition }}
					<button matChipRemove>
						<mat-icon>cancel</mat-icon>
					</button>
				</mat-chip-row>
			}

			<input
				placeholder="Add condition (e.g., Diabetes, Hypertension)"
				[matChipInputFor]="conditionsChipGrid"
				[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
				(matChipInputTokenEnd)="addItem($event, 'healthConditions')"
			/>
		</mat-chip-grid>
		<mat-hint>(Optional) Press Enter to add a health condition</mat-hint>
		<mat-error>{{ getErrorsFor("healthConditions") }}</mat-error>
	</mat-form-field>

	@let _bmi = bmi();
	@let _maintanenceCalories = maintanenceCalories();
	@if (formGroup.valid && _bmi && _maintanenceCalories) {
		<div class="summary-wrapper text-underline d-flex jc-c ai-c" (click)="showCalculationHelp()">
			<span> BMI: {{ _bmi | number: "1.0-1" }} • BMR: ~{{ _maintanenceCalories | number: "1.0-0" }}kcal </span>
		</div>
	}
	<div class="button-container">
		<button mat-flat-button type="submit" class="w-100" [disabled]="formGroup.invalid || isSubmitting()">Save</button>
	</div>
</form>
