:host {
	display: flex;
	gap: 1rem;
	flex-direction: column;

	.menu-item {
		border-radius: 8px;
		color: var(--mat-sys-on-secondary-container);
		background-color: var(--mat-sys-secondary-container);
		cursor: pointer;
	}

	.verify-email-bar {
		--mdc-icon-button-icon-color: var(--mat-sys-on-primary-fixed);
		background-color: var(--mat-sys-error);
		color: var(--mat-sys-on-primary-fixed);
		border-radius: 8px;

		p {
			margin: 0;
		}
	}
}
