<h4>Hi, {{ name() }} 👋</h4>

<div matRipple class="menu-item bold d-flex gap-2 p-2" [routerLink]="['health-profile']">
	<mat-icon>favorite</mat-icon>
	<span>Health profile</span>
</div>
<div matRipple class="menu-item bold d-flex gap-2 p-2" (click)="onNotImplementedClick()">
	<mat-icon>settings</mat-icon>
	<span>Settings</span>
</div>
<div matRipple class="menu-item bold d-flex gap-2 p-2" [routerLink]="['/integrations']">
	<mat-icon>link</mat-icon>
	<span>Integrations</span>
</div>
@if (isInstallable()) {
	<div matRipple class="menu-item bold d-flex gap-2 p-2" (click)="onInstallClick()">
		<mat-icon>get_app</mat-icon>
		<span>Install app</span>
	</div>
}
<div matRipple class="menu-item bold d-flex gap-2 p-2 mt-4" (click)="onLogoutClick()">
	<mat-icon>logout</mat-icon>
	<span>Log out</span>
</div>
