<app-page-title [main]="true" [title]="name()" />

@if (isEmailVerified() === false) {
	<div matRipple class="verify-email-bar p-2 gap-2 d-flex" (click)="onVerifyCLick()">
		<mat-icon>warning</mat-icon>
		<p class="bold">Please verify your e-mail address.</p>
	</div>
}

<div matRipple class="menu-item bold d-flex gap-2 p-2" [routerLink]="['health-profile']">
	<mat-icon>favorite</mat-icon>
	<span>Health profile</span>
</div>
<div matRipple class="menu-item bold d-flex gap-2 p-2" [routerLink]="['settings']">
	<mat-icon>settings</mat-icon>
	<span>Settings</span>
</div>
<div matRipple class="menu-item bold d-flex gap-2 p-2" [routerLink]="['integrations']">
	<mat-icon>link</mat-icon>
	<span>Integrations</span>
</div>
<div matRipple class="menu-item bold d-flex gap-2 p-2" (click)="onFeedbackClick()">
	<mat-icon>bug_report</mat-icon>
	<span>Report a problem</span>
</div>
@if (isShareAvailable()) {
	<div matRipple class="menu-item bold d-flex gap-2 p-2" (click)="onShareClick()">
		<mat-icon>share</mat-icon>
		<span>Share with friends</span>
	</div>
}
@if (isAdmin()) {
	<div matRipple class="menu-item bold d-flex gap-2 p-2" [routerLink]="['../admin-dashboard']">
		<mat-icon>shield</mat-icon>
		<span>Admin dashboard</span>
	</div>
}
@if (isInstallable()) {
	<div matRipple class="menu-item bold d-flex gap-2 p-2" (click)="onInstallClick()">
		<mat-icon>get_app</mat-icon>
		<span>Install app</span>
	</div>
}
<div matRipple class="menu-item bold d-flex gap-2 p-2 mt-4" (click)="onLogoutClick()">
	<mat-icon>logout</mat-icon>
	<span>Log out</span>
</div>
