:host {
	display: flex;
	flex-direction: column;
	background-color: var(--mat-sys-secondary-container);
	border-radius: 8px;
	padding: 1rem;

	.label-header {
		display: flex;
		gap: 0.5rem;
		align-items: baseline;
		justify-content: space-between;
		margin-bottom: 1rem;
		border-bottom: 1px solid #ccc;

		.title {
			font-size: 1.3rem;
			font-weight: 600;
			flex-shrink: 0;
			margin: 0;
		}

		.per-unit {
			text-align: right;
			font-weight: 600;
		}
	}

	.macros-list {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;

		.macro-item {
			display: flex;
			justify-content: space-between;
			font-size: 1rem;

			&:not(:last-child) {
				border-bottom: 1px dashed var(--mat-sys-on-secondary);
			}

			.macro-label {
				font-weight: 500;
			}

			&.indent {
				margin-left: 1rem;
			}
		}
	}
}
