<mat-expansion-panel [expanded]="false">
	<mat-expansion-panel-header>
		<mat-panel-title>
			<mat-icon>auto_awesome</mat-icon>
			Request analysis
		</mat-panel-title>
	</mat-expansion-panel-header>

	<form [formGroup]="formGroup">
		<strong>Select service</strong>
		<mat-radio-group formControlName="service">
			@for (service of services; track service) {
				<mat-radio-button [disabled]="isDisabled" [value]="service.value">{{ service.label }}</mat-radio-button>
			}
		</mat-radio-group>
	</form>
	<button mat-flat-button [disabled]="isDisabled" (click)="onRequestClick()" class="submit-button">Submit</button>
</mat-expansion-panel>
