<div class="login-wrapper">
	<h3>Kombuch <span class="ai-highlight">AI</span></h3>
	<p>Unlock a smarter way to optimize your nutrition today!</p>
	<mat-card appearance="outlined" class="login-card">
		<button mat-flat-button class="btn-google" (click)="onLoginClick('google')">Login with Google</button>
		<button mat-flat-button class="btn-github" (click)="onLoginClick('github')">Login with GitHub</button>
		<span class="login-disclaimer">
			At the time being, we support authentication using Google only. Stay tuned for more!
		</span>
	</mat-card>
</div>
