<div class="login-wrapper">
	<div class="title-bar mb-2">
		<h3 [routerLink]="['/']">Kombuch<span class="ai-highlight">AI</span></h3>
		<p class="subtitle">The future of nutrition tracking</p>
	</div>
	<mat-card appearance="outlined" class="login-card" (submit)="onNormalLogin()">
		<form [formGroup]="formGroup">
			<mat-form-field class="w-100">
				<mat-label>Email</mat-label>
				<input matInput required type="email" formControlName="email" />

				@if (formGroup.controls.email.errors) {
					<mat-error>{{ getErrorMessagesFor("email") }}</mat-error>
				}
			</mat-form-field>

			<mat-form-field class="w-100 mt-2">
				<mat-label>Password</mat-label>
				<input
					matInput
					required
					[type]="showPassword() ? 'text' : 'password'"
					formControlName="password"
					(keyup.enter)="onNormalLogin()"
				/>
				<mat-icon matSuffix (click)="showPassword.set(!showPassword())" [attr.aria-label]="'Toggle password visibility'">
					{{ showPassword() ? "visibility" : "visibility_off" }}
				</mat-icon>

				@if (formGroup.controls.password.errors) {
					<mat-error>{{ getErrorMessagesFor("password") }}</mat-error>
				}
			</mat-form-field>

			<button mat-flat-button class="w-100 mt-2" type="submit" [disabled]="formGroup.invalid || isLoggingIn()">
				@if (isLoggingIn()) {
					<mat-spinner diameter="20" />
				} @else {
					Sign in
				}
			</button>
		</form>

		<div class="divider d-flex ai-c">
			<span>OR</span>
		</div>

		<button mat-flat-button class="btn-google" type="button" (click)="onProviderLogin('google')" [disabled]="isLoggingIn()">
			Login with Google
		</button>
		<button mat-flat-button class="btn-facebook" type="button" (click)="onProviderLogin('facebook')" [disabled]="isLoggingIn()">
			Login with Facebook
		</button>
		<button mat-flat-button class="btn-github" type="button" (click)="onProviderLogin('github')" [disabled]="isLoggingIn()">
			Login with GitHub
		</button>
	</mat-card>

	<button mat-button type="button" class="w-100 mt-2" [routerLink]="['/register']">Not registered yet? Create an account!</button>
	<button mat-button type="button" class="w-100 mt-1" [routerLink]="['/forgot-password']">Forgot password?</button>
</div>
