@let _analysis = analysis();
@if (status === "completed") {
	<mat-card>
		<mat-card-header>
			<mat-card-title>{{ _analysis.request.created | date: "LLL d" }}</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<p>{{ result?.summary }}</p>

			<strong>Score: {{ result?.score + "/100" }}</strong>
			<div class="score-bar"><div class="score" [ngStyle]="{ left: (result?.score ?? 0) + '%' }"></div></div>
			<div class="d-flex gap-2 pb-2 pt-2">
				<button mat-icon-button (click)="onDeleteClick()">
					<mat-icon>delete</mat-icon>
				</button>
				<button mat-icon-button>
					<mat-icon>flag</mat-icon>
				</button>
				<button mat-stroked-button class="flex-grow" [routerLink]="_analysis.id">Open report</button>
			</div>
		</mat-card-content>
		<mat-card-footer class="suggestion-card-footer">
			{{ result?.created | date: "YYYY-MM-dd HH:mm" }}
			•
			{{ result?.model }}
		</mat-card-footer>
	</mat-card>
} @else if (status === "created" || status === "processing") {
	<mat-card>
		<mat-card-content>
			<div class="processing">
				<mat-spinner diameter="18" />
				<span>There is an analysis currently in progress...</span>
			</div>
		</mat-card-content>
	</mat-card>
} @else if (status === "failed") {
	<mat-card class="error">
		<mat-card-content>
			@if (_analysis.request.failureReason) {
				Error: {{ _analysis.request.failureReason }}
			} @else {
				This request couldn't be completed due to an unexpected error. Please try again later, or using a different model.
			}
			<mat-card-actions [align]="'end'">
				<button mat-icon-button (click)="onDeleteClick()">
					<mat-icon>delete</mat-icon>
				</button>
			</mat-card-actions>
		</mat-card-content>
		<mat-card-footer class="suggestion-card-footer">
			{{ _analysis.request.created | date: "YYYY-MM-dd HH:mm" }}
		</mat-card-footer>
	</mat-card>
}
