.app-container {
	max-width: var(--app-max-width);
	display: flex;
	flex-direction: column;
	position: relative;
	padding: 1rem;
	margin: 0 auto;
}

.bottom-toolbar-spacer {
	height: 4rem;
}

@media screen and (max-width: 599px) {
	.sidenav {
		width: 80%;
	}
}
