@use "@angular/material" as mat;
@use "./theme-colors" as theme-colors;
@use "./classes";
@import "@angular/cdk/overlay-prebuilt.css";
@import url("https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

$theme: mat.define-theme(
	(
		color: (
			theme-type: dark,
			primary: theme-colors.$primary-palette,
			tertiary: theme-colors.$tertiary-palette
		),
		typography: (
			plain-family: Aleo,
			brand-family: Montserrat,
			bold-weight: 900,
			medium-weight: 700,
			regular-weight: 500
		),
		density: (
			scale: 0
		)
	)
);

body {
	@include mat.core();
	@include mat.all-component-themes($theme);
	@include mat.system-level-colors($theme);

	@include mat.chips-overrides(
		(
			label-text-font: Montserrat,
			label-text-size: 0.8rem,
			label-text-weight: 600
		)
	);

	.mat-mdc-menu-panel {
		--mat-menu-container-color: var(--mat-sys-on-secondary);
		--mat-menu-item-spacing: 2rem;
		--mat-menu-item-with-icon-leading-spacing: 1rem;
		--mat-menu-item-with-icon-trailing-spacing: 1rem;
		--mat-menu-item-label-text-size: 1rem;
	}

	.fullscreen-overlay-pane {
		display: block;
		overflow-y: auto;
		overflow-x: hidden;
		background: var(--mat-app-background-color);
	}

	.mat-icon {
		&[color="primary"] {
			--mat-icon-color: var(--primary-color);
		}

		&[color="tertiary"] {
			--mat-icon-color: var(--tertiary-color);
		}
	}

	.mdc-snackbar.snackbar-error {
		--mdc-snackbar-container-color: var(--mat-sys-error);
		--mat-snack-bar-button-color: var(--mat-sys-on-error);
	}

	.mat-mdc-button-base {
		&.large {
			--mdc-filled-button-container-height: 64px;
		}
	}

	.mat-mdc-outlined-button:not(:disabled).mat-warn {
		--mdc-outlined-button-label-text-color: var(--mat-sys-error);
		--mdc-outlined-button-outline-color: var(--mat-sys-error);
	}

	.mat-mdc-button:not(:disabled).mat-warn {
		--mdc-text-button-label-text-color: var(--mat-sys-error);
		--mat-text-button-state-layer-color: var(--mat-sys-error);
	}

	.add-menu-bottom-sheet {
		.mat-bottom-sheet-container {
			border-radius: 24px 24px 0 0;
			padding: 0;
			background-color: var(--mat-sys-secondary-container);
		}
	}

	.mat-mdc-snack-bar-handset {
		margin-bottom: 5rem !important;
	}
}

@include mat.typography-hierarchy($theme);

html,
body {
	background: var(--mat-sys-surface);
	color: var(--mat-sys-on-surface);
	height: 100%;
	margin: 0;
	scrollbar-width: none;
	-ms-overflow-style: none;

	--app-max-width: 800px;
	--mat-expansion-container-background-color: var(--mat-sys-surface-container);
}

:root {
	--accent-color: #ffa41e;
	--accent-light: #ffca7a;
	--success-color: #2abb58;
	--success-light: #5fd876;
	--primary-color: #41b8e0;
	--primary-light: #63d4fd;
	--tertiary-color: #8e8db2;
	--tertiary-light: #c4c3ea;

	--mat-divider-color: #3e484e;
}
